*{
    background: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.Flex-Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.title{
    margin: 3% 0;
    font-size: 55px;
    border-bottom: 2px solid #fff;
}

.Form{
    display: flex;
    width: 70%;
    height: 5vh;
}

.Form_Input{
    margin:auto;
    background: none;
    height: 100%;
    width: 89%;
    padding: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
}

.Form_Input_Submit{
    margin-left: 3%;
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid #22e;
    border-radius: 100vmax;
    background: #22e;
    cursor: pointer;
}

.Form_Input_Submit:hover{
    background: #88f;
    border-color: #88f;
}

.Flex-Section{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

.Objeto{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-top: 25px;
    text-align: center;
}

.Tarea{
    margin-left: 1%;
    padding: 0 5px;
    text-align: center;
}

.Check{
    width: 25px;
    margin-left: 15px;
    margin-top: 1px;
}

@media screen and (max-width:800px){

    .Form_Input_Submit{
        padding: 0 5px;
    }

}